@using Data.Entities
@{
    ViewData["Title"] = "Projects";
}

@model IEnumerable<ProjectEntity>

<div class="main-header">
    <h1>Projects</h1>


    <button class="btn btn-blue" data-type="modal" data-target="#add-project-modal">
        <i class="fa-classic fa-solid fa-plus"></i>
        <span>Add Project</span>
    </button>
</div>

<section class="project-list">

    @foreach (var project in Model.Select((p, index) => new { Project = p, Index = index }))
    {
        var dropdownId = $"project-dropdown-{project.Index}";
        <div class="surface">
            <div class="card-header">
                <div class="project-image">
                    <img src="images/project-image.svg" />
                </div>
                <h5 class="project-name">@project.Project.ProjectName</h5>
                <span class="client-name">@project.Project.ClientName</span>
                <div id="project-actions-container">
                    <button type="button" data-type="dropdown" data-target="#@dropdownId" class="btn-action">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <div class="dropdown" id="@dropdownId">
                        <div class="dropdown-body">
                            <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Project.Id" class="dropdown-action">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <span>Edit</span>
                            </a>
                            <hr>
                            <form asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Project.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this project?');">
                                <button type="submit" class="dropdown-action red btn-action" id="delete-project-btn">
                                    <i class="fa-solid fa-trash"></i>
                                    <span>Delete Project</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>@project.Project.Description</p>
            </div>
        </div>
    }
</section>

@await Html.PartialAsync("Partials/Sections/_AddProjectModal")



